/bin
/src/**/obj
/src/**/bin
*.nupkg
/src/packages
src/Rooko.v11.suo
src/**/StyleCop.Cache
src/**/StyleCopViolations.xml
src/Rooko.Core/Rooko.Core.csproj.user
src/Rooko.Core/Rooko.Core.OpenCover.Settings
src/Rooko/Rooko.csproj.user
