/src/Rooko.Tests/obj
/src/Rooko.Tests/bin
/bin
/src/Rooko.Core/obj
/src/Rooko.Core/bin
/src/Rooko/obj
*.nupkg
/src/packages
src/Rooko.v11.suo
src/Rooko.Core/StyleCop.Cache
src/Rooko.Core/StyleCopViolations.xml
