/src/Rooko.Tests/obj
/src/Rooko.Tests/bin
/bin
/src/Rooko.Core/obj
/src/Rooko.Core/bin
/src/Rooko/obj
*.nupkg
/src/packages
src/Rooko.v11.suo
src/Rooko.Core/StyleCop.Cache
src/Rooko.Core/StyleCopViolations.xml
src/Rooko.Core/Rooko.Core.csproj.user
src/Rooko.Core/Rooko.Core.OpenCover.Settings
src/Rooko/Rooko.csproj.user
